*{
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #060606;
    color: #ffffff;
}

#header{
    height: 100vh;
    width: 100%;
    background-image: url(images/iim.jpg);
    background-size: cover;
    background-position: center;
}

.con{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
    height: 100px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: rgba(19, 19, 1, 0.792);
    text-decoration: none;
    font-size: 16px;
    position:relative;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #431e8d;
    position: absolute;
    left:0;
    bottom: -1px;
    font-weight: bold;
    transition: 0.4s;
}

nav ul li a:hover::after{
    width: 100%;
    /* font-weight: bold; */
    /* box-sizing: 1px; */
}

.header-text{
    margin-top: 20%;
    font-size: 20;
}
.header-text h1{
    margin-top: 10px;
    font-size: 40px;
    font-style: italic;
}










#about{
    padding: 40px 10px;
}
/* .container{

} */
.row{
    display: flex;
    padding:0px 50px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col1{
    flex-basis: 35%;
}
.about-col2{
    flex-basis: 60%;
}
.hello{
    font-size: 60px;
    font-weight: 500;
    /* justify-content: center; */
    
}

.tabtitle{
    display: flex;
    margin: 20px 0px 10px;
}
.tablink{
    font-weight: 400;
    margin-right: 50px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
}
.tablink::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background:#431e8d;
    left: 0;
    bottom: -4px;
    transition:0.4s;
}
.tablink.active-link::after{
    width: 100%;
}
.tabcontent ul li{
    list-style: none;
}
.tabcontent ul li span{
    font-size: 15px;
    color: brown;
}
.tabcontent{
    display:none;
}
.tabcontent.activetab{
    display:block;
}

/* ////////////////////////// */

#services{
    padding: 25px 0px;
}
.services-list{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 40px;
}
.services-list div{
    background: #5a5252;
    padding: 30px;
    font-size: 14px;
    font-weight: 350;
    border-radius: 20px;
    transition: background-color 0.5s, transform 0.4s;
}
.services-list div i{
    font-size: 40px;
}
.services-list div h2{
    font-size: 25px;
    color: black;
    font-weight: 300;
    margin-bottom: 10px;
}
.services-list div a{
    text-decoration: none;
    color: rgb(145, 6, 6);
    margin-top: 10px;
    display: inline-block;
    /* justify-content: center; */
    text-align: center;
}
.services-list div:hover{
    background-color: #abb348;
    transform: translatey(-10px);
}

/* ///////////////////// */


#portfolio{
    padding: 40px 0px;
}
.work-list{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 40px;
}
.work{
    position:relative;
    overflow: hidden;
}
.work-list div img{
    border-radius: 19px;
    height: 100%;
    width: 100%;
    transition: transform 0.4s;
}
.layer{
    width: 100%;
    height: 00%;
    background:linear-gradient(rgba(0,0,0,0.6),rgb(57, 57, 164));
    border-radius: 10px;
    position:absolute;
    left:0;
    bottom:0;
    overflow: hidden;
    display: flex;
    align-items:center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
    transition: height 0.6s;
}
.layer h3{
    font-weight: 600;
    margin-bottom: 15px;
}
.layer a{
    margin-top: 20px;
    background-color: aliceblue;
    text-decoration: none;
    color: red;
    font-size: 22px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}
.work:hover .layer{
    height: 100%;
}
.work:hover img{
    transform: scale(1.1);
}
.button{
    text-decoration: none;
    display:block;
    /* margin-top: 10px; */
    margin: 10px auto;
    border: 1px solid goldenrod;
    width: fit-content;
    padding:10px 5px;
    color: #ffffff;
    border-radius: 5px;
    /* background: black; */
    /* transform:  ; */
    transition: 0.6s;
}
.button:hover{
    background: #abb348;
}


/* //////////////////// */
.contact-left{
    flex-basis: 30%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 20px;
}
.contact-left p i{
    margin-left: 5px;
    margin-right: 10px;
    color:rgb(65, 91, 138);
    font-size:20px;
}
.social-media{
    margin-top: 10px;
}
.social-media a{
    text-decoration: none;
    color: rgb(61, 194, 190);
    font-size: 20px;
    margin-left: 10px;
    margin-right: 5px;
    display: inline-block;
    transition: color 0.3s ,transform 0.4s;
}
.social-media a:hover{
    color: rgb(12, 23, 146);
    transform: translateY(-4px);
}
.cv{
    text-decoration: none;
    display:block;
    /* margin-top: 10px; */
    margin: 10px;
    border: 1px solid goldenrod;
    width: fit-content;
    padding:10px 5px;
    color: #ffffff;
    border-radius: 5px;
    transition: 0.6s;
}
.cv:hover{
    background: #5a5252;
}
/* .cv.sub{
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    transform: scale(1.1);
} */
.contact-right form{
    width: 100%;
    /* display: block; */
}
form input,form textarea{
    width: 100%;
    border: none;
    outline: none;
    background: rgb(49, 48, 48);
    padding: 10px;
    margin: 10px 0px 10px 6px;
    color: #070707;
    font-size: 18px;
    border-radius: 5px;
}
form .sub{
    /* margin:10px; */
    padding:10px 50px;
    cursor: pointer;
    margin-top: 10px;
    justify-content: center;
    background: #dd4242;
}
.copyright{
    margin-top: 20px;
    width: 100%;
    padding:25px 0px;
    background: rgb(49, 48, 48);
    text-align: center;
    font-size: 16px;
    font-weight: 100;
    
}
.copyright i{
    color: red;
}




/*  responsive screen for phones and all */

nav .fa-solid{
    display: none;
}
@media only screen and (max-width:600px){
    #header{
        background-image:url(images/ima.jpg) ;
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
        /* color: #fff; */
    }
    .header-text h1{
        font-size: 30px;
        font-style: italic;
    }
    nav .fa-solid{
        display: block;
        font-size: 20px;
    }
    nav ul{
        background: #e7b2b2;
        position: fixed;
        top:0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        font-weight: 400;
        transition: right 0.7s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .hello{
        font-size: 40px;
    }
    .about-col1,.about-col2{
        flex-basis: 100%;
    }
    .about-col1{
        margin-bottom: 20px;
    }
    .row{
        padding: 0px 10px;
    }
    .about-col2{
        font-size: 14px;
        font-weight: 50;
    }
    .tablink{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left,.contact-right{
        flex-basis: 90%;
    }
    .copyright{
        font-size: 12px;
    }
}